@using DataKnihovna.Model
@model DataKnihovna.Model.Vydavatel

@{
    ViewBag.Title = "Editace vydavatele";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("EditVydavatel", "Vydavatel", FormMethod.Post))
{
    <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label">Název vydavatele</label>
        <div class="col-sm-10">

            @Html.TextBoxFor(x => x.Nazev, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Nazev)
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary">Vytvořit</button>
        </div>
    </div>
}