
@{
    ViewBag.Title = "error404";
}

<h2>error 404</h2>

<img src="@Url.Content("~/uploads/error.jpg")" alt="Náhled1" /><br />
                                                              <label> Dostali jste se někam, kam jste se neměli dostat. Možná jste zadali url adresu,která neexistuje,nebo která existuje, ale nemáte právo na to, nebo nelze se tam dostat pomocí url, nebo chyba je na naší straně. Nebuďte smutní a napište nám na email :)</label>