
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<div>
  
    <img url="~/images/obrazek.jpg"  alt="Náhled0" width="500" height="600"/><br />
    <img src="@Url.Content("~/images/obrazek.jpg")" alt="Náhled1" height="250px" width="250px" /><br />
    <img src="~/images/obrazek.jpg"  alt="Náhled2" height="250px" width="250px" /><br />
    @Path.Combine(AppDomain.CurrentDomain.BaseDirectory, "images//obrazek.jpg")

</div>


